body {
	margin: 0;
	display: flex;
	justify-content: center;
}

	#map {
		z-index: 1;
		width: 100vw;
		height: 80vh;
		background-color: grey;
	}
			.guide {
				fill: none;
				stroke: #fff;
				stroke-width: 2;
			}

			.planet {
				fill: #fff;
			}

			.CPM {
				fill:yellow;
			}

			.ANA {
				fill:blue;
			}
				
			.FHL {
				fill:red;
			}
				
			.REY {
				fill:lightgreen;
			}
				
			.LAT {
				fill:green;
			}
				
			.GMS {
				fill:orange;
			}
				
			.FEF {
				fill:cyan;
			}
				
			.FEF\/PU {
				fill:turquoise;
			}
				
			.HCK {
				fill:darkred;
			}
				
			.ELC {
				fill:purple;
			}
				
			.BDC {
				fill:violet;
			}
				
			.LGA {
				fill:brown;
			}
				
			.LAA {
				fill:darkcyan;
			}
				

	.controls {
		z-index: 4;
		position: fixed;
		left: 2vw;
		top: 2vh;
		display: flex;
		flex-direction: column;
	}
