body {
	margin: 0;
	display: flex;
	justify-content: center;
}

#map {
	z-index: 1;
	margin: 0;
	width: 100%;
	height: 100%;
}

#gui {
	display: none;
	width: 400px;
	height: 400px;
	z-index: 2;
	position: fixed;
	left: 10%;
	top: 10%;
	border: 1px solid red;
}

.controls {
	z-index: 4;
	position: fixed;
	left: 50px;
}

#range_x {
	top:40px;
}

#range_y {
	top:70px;
}

#range_z {
	top:100px;
}
